* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #1d2021;
	color: #fbf1c7;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #32302f;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1d2021;
	background: #32302f;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#idle_inhibitor,
#pulseaudio,
#memory,
#cpu,
#disk,
#tray,
#custom-wlogout {
	background: #32302f;
}

#workspaces button {
	padding: 0 2px;
	color: #fbf1c7;
}
#workspaces button.focused {
	color: red; /* not working TODO */
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #32302f;
	border: transparent;
	padding: 0 3px;
}

#pulseaudio {
	color: #689d6a;
}
#pulseaudio.muted {
  color: #cc241d;
}
#memory {
	color: #458588;
}
#cpu {
	color: #b16286;
}
/* #disk { */
/* 	color: #b58900; */
/* } */

#clock,
#idle_inhibitor,
#pulseaudio,
#memory,
#cpu,
#disk,
#custom-wlogout {
	padding: 0 10px;
}
