@import '/home/mallarb/.cache/wal/colors.scss';


* {
    border: 0;
    font-family: Cousine  Nerd Font;
    font-size: 15px;
}



window#waybar {
    background-color:transparent;
    transition-property: background-color;
    transition-duration: .5s;
    
}

window#waybar.hidden {
    opacity: 1;
}

#window{
    color : black;
    margin-left: 5px;
}

#workspaces {
    background-color: $background;
    border: 2px solid $color5;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 7px;
    background-color: $color1;
    color: black;
    border-radius: 20px;
    margin: 2px;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.active{
    color: white;
    background-color: black;
}

#workspaces button.focused {
    color: #ffa000;
}

#workspaces button.empty{
    background-color: $color2;
}

#workspaces button.urgent {
    
    background-color: $color2;
    color: #000000;
}

#workspaces button.visible{
    background-color: black;
}

#mode {
    background-color: red;
    border-bottom: 3px solid #ffffff;
    color: red;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#workspaces,
#mpd {
    padding: 0 10px;
    color: #ff0000;
    border-radius: 20px;
    margin-bottom: 3px;
}

#clock {
    
    background-color: $color2;
    color: #000000;
}


@keyframes blink {
    to {
        background-color: #ec0404;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    
    background-color: $color2;
    color: #000000;
    border-radius: 20px;
}

#memory {
    
    background-color: $color2;
    color: #000000;
}

#network {
    
    background-color: $color2;
    border-radius: 10px 0 0 10px;
    color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    
    background-color: $color2;
    color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

