* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.50);
}

button {
	border-radius: 30;
        margin: 5px;
	border-color: #b4befe;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: image(url("./lock.png"));
    background-size: 140px 140px;
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
    background-size: 160px 160px;
}
#lock:hover {
    background-image: image(url("./lock-hover.png"));
    background-size: 160px 160px;
}

#logout {
    background-image: image(url("./logout.png"));
    background-size: 100px 100px;
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
    background-size: 120px 120px;
}
#logout:hover {
    background-image: image(url("./logout-hover.png"));
    background-size: 120px 120px;
}

#suspend {
    background-image: image(url("./sleep.png"));
    background-size: 100px 100px;
}
#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
    background-size: 120px 120px;
}
#suspend:hover {
    background-image: image(url("./sleep-hover.png"));
    background-size: 120px 120px;
}

#shutdown {
    background-image: image(url("./power.png"));
    background-size: 120px 120px;
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
    background-size: 140px 140px;
}
#shutdown:hover {
    background-image: image(url("./power-hover.png"));
    background-size: 140px 140px;
}

#reboot {
    background-image: image(url("./restart.png"));
    background-size: 120px 120px;
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
    background-size: 140px 140px;
}
#reboot:hover {
    background-image: image(url("./restart-hover.png"));
    background-size: 140px 140px;
}

/* #windows { */
/*     background-image: image(url("./windows.png")); */
/*     background-size: 120px 120px; */
/* } */
/* #windows:focus { */
/*     background-image: image(url("./windows-hover.png")); */
/*     background-size: 120px 120px; */
/* } */
/* #windows:hover { */
/*     background-image: image(url("./windows-hover.png")); */
/*     background-size: 120px 120px; */
/* } */
