sdfj{
foreground: #d2c7d1;
background: #0B0E16;
cursor: #d2c7d1;
color0: #0B0E16;
color1: #2F4960;
color2: #60515C;
color3: #9E635F;
color4: #C56758;
color5: #DC8B66;
color6: #966D9D;
color7: #d2c7d1;
color8: #938b92;
color9: #2F4960;
color10: #60515C;
color11: #9E635F;
color12: #C56758;
color13: #DC8B66;
color14: #966D9D;
color15: #d2c7d1;
}
@define-color foreground #f6ebe1;
@define-color background #02020C;
@define-color cursor #f6ebe1;

@define-color color0 #02020C;
@define-color color1 #7B898F;
@define-color color2 #889193;
@define-color color3 #ADAAA3;
@define-color color4 #C4BBB0;
@define-color color5 #D0C7B9;
@define-color color6 #EBE1D0;
@define-color color7 #f6ebe1;
@define-color color8 #aca49d;
@define-color color9 #7B898F;
@define-color color10 #889193;
@define-color color11 #ADAAA3;
@define-color color12 #C4BBB0;
@define-color color13 #D0C7B9;
@define-color color14 #EBE1D0;
@define-color color15 #f6ebe1;

